body {
  margin: 0;
  background-color: #512DA8; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #727272; }

.frame {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.detail {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.resume {
  background-color: #512DA8; }
  .resume h1 {
    color: #FFFFFF; }
  .resume p {
    color: #FFFFFF; }

.school {
  background-color: #3F51B5; }
  .school h3 {
    color: #FFFFFF; }
  .school p {
    color: #FFFFFF; }

.work {
  background-color: #303F9F; }
  .work h3 {
    color: #FFFFFF; }
  .work p {
    color: #FFFFFF; }

.skill {
  background-color: #3F51B5; }
  .skill h3 {
    color: #FFFFFF; }
  .skill p {
    color: #FFFFFF; }

@media (min-width: 300px) {
  .resume,
  .school,
  .work,
  .skill {
    padding-left: 20px; } }

@media (min-width: 300px) {
  .school,
  .work,
  .skill {
    width: 100%; } }

@media (min-width: 1000px) {
  .school,
  .work,
  .skill {
    width: 33.33%; } }
