$primary-color-dark:   #303F9F;
$primary-color:        #3F51B5;
$primary-color-light:  #C5CAE9;
$primary-color-text:   #FFFFFF;
$accent-color:         #009688;
$primary-text-color:   #212121;
$secondary-text-color: #727272;
$divider-color:        #B6B6B6;

body {
  margin: 0;
  background-color: #512DA8;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: $secondary-text-color;
}

.frame {
  display: flex;
  flex-direction: column;
}

.detail {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.resume {
  background-color: #512DA8;
  h1 {
    color: $primary-color-text;
  }
  p {
    color: $primary-color-text;
  }
}

.school {
  background-color: $primary-color;
  h3 {
    color: $primary-color-text;
  }
  p {
    color: $primary-color-text;
  }
}

.work {
  background-color: $primary-color-dark;
  h3 {
    color: $primary-color-text;
  }
  p {
    color: $primary-color-text;
  }
}

.skill {
  background-color: $primary-color;
  h3 {
    color: $primary-color-text;
  }
  p {
    color: $primary-color-text;
  }
}

@media (min-width: 300px) {
  .resume,
  .school,
  .work,
  .skill {
    padding-left: 20px;
  }
}

@media (min-width: 300px) {
  .school,
  .work,
  .skill {
    width: 100%;
  }
}

@media (min-width: 1000px) {
  .school,
  .work,
  .skill {
    width: 33.33%;
  }
}
